<!DOCTYPE html>
<html>
<head>
<title>Deepfrier</title>
</head>
<body>
<p>Current date and time: {{.DateTime}}</p>
<form action="/write" method="post">
    Order token:<input type="text" name="token">
    Order action:<input type="text" name="action">
    Order amount: <input type="text" name="amount">
    Order price: <input type="text" name="price">
    <input type="submit" value="Write">
</form>
</body>
